.about
    background-color: #F4EFE7
    position: relative
    padding-top: 5rem
    h1, p, strong
        display: block
        padding:  0px 20px
    h1
        color: #D28930
        padding-top: 20px
    strong
        padding: 20px 20px

    img
        padding-top: 5rem