.lawyers
    flex-direction: column
    width: 100%
    padding-top: 5rem
    text-align: center
    h1
        text-decoration: underline
        text-underline-offset: 10px 
        text-decoration-color: #D28930
    p
        font-size: 20px
        padding-top: 1rem
        padding-bottom: 3rem

    .lawyers_wrapper
        display: flex
        flex-direction: row
        justify-content: space-around
        flex-wrap: wrap

        .lawyer_card
            width: auto

            .lawyer_image
                height: 500px
                width: auto
                border: 1px solid #D28930
            .lawer_description
                position: relative
                background-color: #1D4B66
                top: -10px
                margin-bottom: 2rem
                padding: 1rem 0
                color: #F4EFE7
                border: 2px solid #D28930
                border-bottom-left-radius: 20px
                border-bottom-right-radius: 20px
                h2
                    background-color: rgba(0, 0, 0, 0)
                    font-family: 'Cinzel', serif
                span
                    background-color: rgba(0, 0, 0, 0)