.navbar
    position: sticky
    display: flex
    width: 100%
    height: 5rem
    align-items: center
    padding: 0 20px
    justify-content: space-between
    font-size: 1.3rem
    background-color: #1D4B66 
    color: #F4EFE7
    border-top: 1px solid #D28930
    border-bottom: 1px solid #D28930

.logo
    font-weight: 300

.bars_menu
    padding-top: 5px

.navLinks
    display: flex
    flex-direction: column
    background-color: #1D4B66
    transition-property: all
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
    transition-duration: 150ms

.links
    text-decoration-style: none
    list-style-type: none
    display: flex
    position: relative
    justify-content: center
    padding: .7rem 0
    background-color: #1D4B66
    left: -40px
    width: 112%
    border-bottom: 2px solid #D28930
    a
        text-decoration: none
        color: #F4EFE7
    

.close
    position: absolute
    width: 100%
    left: 0
    top: -20rem
    transition-property: all
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
    transition-duration: 150ms
    z-index: -1

.open
    position: absolute
    top: 5rem
    width: 100%
    left: 0
