@use 'variables'

.navbar
    position: sticky
    top: 0
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    height: 5rem
    background-color: variables.$Preto
    padding: 0 20px
    font-size: 1.5rem
    border-top: 1px solid variables.$Bege
    border-bottom: 1px solid variables.$Bege
    z-index: 99

    .logo
        font-size: 100%
        word-wrap: break-word
        color: variables.$Branco
        font-family: variables.$AbrilFont
        width: fit-content
        text-transform: uppercase

    .bars_menu
        justify-content: end
        width: fit-content
        color: variables.$Branco
        margin-bottom: -5px
        svg

.mobile_links
    position: absolute
    display: flex
    width: 100%
    left: 0
    top: 4.9rem
    transition: 1s
    border: 1px solid variables.$Bege
    background-color: variables.$Preto
    ul
        list-style: none
        display: flex
        flex-direction: column
        text-align: center
        li
            position: relative
            left: -20px
            padding: .5rem 0
            border-bottom: 1px solid variables.$Cinza
            &:hover, &:active
                    color: variables.$Bege
            a
                color: variables.$Branco
                background-color: rgba(0, 0, 0, 0)
                text-decoration: none
                &:hover, &:active
                    color: variables.$Bege

.close
    left: -99rem

@media screen and (min-width: 900px)
    .navbar
        justify-content: space-between

    .bars_menu
        display: none

    .mobile_links
        display: block
        position: static
        left: 0
        top: 0
        width: auto
        transition: none
        border: none
        *
            background-color: rgba(0, 0, 0, 0)
        ul
            list-style: none
            display: flex
            flex-direction: row
            justify-content: space-between
            text-align: center
            li
                width: auto
                position: relative
                left: 0
                padding: .5rem 0.5rem
                border-bottom: none
                a
                    color: #F4EFE7
                    background-color: rgba(0, 0, 0, 0)
                    text-decoration: none
                    font-size: 18px
                    text-transform: uppercase
                    &:hover, &:active
                        color: #D28930

